@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left">
                <span>
                    Orders
                </span>
            </h2>
            <button class="btn btn-primary pull-right" id="addNewItem" data-toggle="modal" data-target="#newOrderModal" style="margin-right: 5px;">Add New</button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered" id="ordersTable">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>


<div class="modal fade" id="newOrderModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>


                <h4 class="modal-title">
                    New Order Information
                </h4>
            </div>
            <div class="modal-body">
                <h3>
                    Order Master
                </h3>
                <hr>
                <form id="customerForm">
                    <div class="form-horizontal">


                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Customer Name
                            </label>


                            <div class="col-md-4">
                                <input class="form-control" id="customerName" placeholder="Customer Name"  name="customerName" required type="text">
                            </div>
                            <label class="control-label col-md-2">
                                Address
                            </label>


                            <div class="col-md-4">
                                <input class="form-control" id="customerAddress" placeholder="Customer Address" name="Address" required type="text">
                            </div>
                            <input id="orderMasterId" type="hidden">
                        </div>
                    </div>
                </form>
                <h3  id="beforeError" style="margin-top: 10px;">
                    Order Details
                </h3>
                <table class="table" id="detailsTable">
                    <thead>
                        <tr>
                            <th style="width: 25%;">Product</th>
                            <th style="width: 20%;">Unit Price</th>
                            <th style="width: 15%;">Quantity</th>
                            <th style="width: 20%;">Amount</th>
                            <th style="width: 10%;"></th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info" @*data-target="#orderDetailsModal" data-toggle="modal"*@ id="addMore">Add Detail</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="saveOrder" type="button">Save Order</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderDetailsModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>


                <h4 class="modal-title">
                    Order Details
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input id="detailId" type="hidden">
                        <label class="control-label col-md-3">
                            Product Name
                        </label>


                        <div class="col-md-9">
                            <input class="form-control" id="productName" placeholder="Product Name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Price
                        </label>


                        <div class="col-md-4">
                            <input class="form-control" id="price" placeholder="Product Price" type="number" >
                        </div>
                        <label class="control-label col-md-2">
                            Quanity
                        </label>


                        <div class="col-md-3">
                            <input class="form-control" id="quantity"  type="number">


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-lg-offset-9">
                            <a class="btn btn-default" id="addToList">Add To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
        $(function () {
            var orderUrl = '@Url.Action("getOrders","Home")';
            var table = $("#ordersTable").DataTable({
                "processing": true,
                "serverside": true,
                "filterng": false,
                "orderMulti": false,
                "ajax": {
                    "url": orderUrl,
                    "type": "POST",
                    "datatype": "json",


                },
                "columns": [
                    { "data": "customerName", "name": "customerName", "autowidth": true },
                    { "data": "address", "name": "address", "autowidth": true },
                    { "data": "orderDate", "name": "orderDate", "autowidth": true },
                    {
                        "data": "Edit", "name": "Edit", "autoWidth": true,
                        "render": function (data, type, row, meta) {
                            return '<a href="#" data-masterid=' + row.masterId + ' class="editOrder">Edit Order</a>'
                        }
                    },
                    {
                        "data": "Delete", "name": "Delete", "autoWidth": true,
                        "render": function (data, type, row, meta) {
                            return '<a href="@Url.Action("Index","Home")" data-masterid=' + row.masterId + ' class="deleteOrder">Delete</a>'
                        }
                    }

                ]
            });

        }),




            $("#addNewItem").click(function () {

                $("#orderMasterId").val(@Guid.Empty);
                $("#detailsTable tbody tr").remove();
                $("#saveOrder").html("Save Order");
                $(".error").remove();
                   clearItem();



            }),
            $("#addMore").click(function () {

                $("#detailId").val('');
                $("#orderDetailsModal").modal('show');





            }),


            $("#addToList").click(function () {
                $(".error").remove();
                var Name = $("#productName").val();
                var Price = $("#price").val();
                var Quantity = $("#quantity").val();
                function valid() {
                    
                     if($.trim(Name) == "") {
                        $("#productName").after('<span class="error">Product name is required</span>');
                        return false;


                    } else if (Name.length < 3) {
                        $("#productName").after('<span class="error">Product name is too short</span>');
                        return false;

                    } else if (Name.length > 10) {
                        $("#productName").after('<span class="error">Product name is too long</span>');
                        return false;

                    } if (Price == "") {
                        $("#price").after('<span class="error">Price is required</span>');
                        return false;
                    } else if (Price == 0) {
                        $("#price").after('<span class="error">Price is cannot be 0</span>');
                        return false;
                    } else if (Price > 9999999) {
                        $("#price").after('<span class="error">Invalid price (9,999,999 MAX)</span>');
                        return false;
                    }
                    if (Quantity == "") {
                        $("#quantity").after('<span class="error">Quantity is required</span>');
                        return false;
                    } else if (Quantity == 0) {
                        $("#quantity").after('<span class="error">Quantity must be greater than 0</span>')
                        return false;
                    } else if (Quantity > 5000) {
                        $("#quantity").after('<span class="error">Please reduce Quantity (5000 Maximum)</span>')
                        return false;
                    }
                    else {
                        return true;
                    }
                
                    
                }     
                


                if(valid()) {


                        var productName = $("#productName").val(),
                         price = $("#price").val(),
                        quantity = $("#quantity").val(),
                        detailsId = $("#detailId").val(),
                        detailsTableBody = $("#detailsTable tbody");


                            if (detailsId == @Guid.Empty) {

                                var productItem = '<tr><td>' + productName + '</td><td>' + price + '</td><td>' + quantity + '</td><td>' + (parseFloat(price) * parseInt(quantity)) + '</td> <td><a data-itemId="0" data-productName="' + productName + '" data-price="' + price + '" data-quantity="' + quantity + '" href="#" data-target="#orderDetailsModal" data-toggle="modal" class="editItem">Edit</a></td>' + '<td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                                detailsTableBody.append(productItem);


                                clearOrderDetails();

                                function clearOrderDetails() {
                                    $("#productName").val(''),
                                        $("#price").val(''),
                                        $("#quantity").val('');
                                }

                        } else {

                            var data = JSON.stringify({
                                DetailsId: $("#detailId").val(),
                                ProductName: $("#productName").val(),
                                Amount: $("#price").val(),
                                Quantity: $("#quantity").val(),

                            })
                                var masterId = $("#orderMasterId").val();
                                updateSingleOrderDetail(data);
                                $.when(getSingleOrder(masterId)).then(function (res) {
                                    var detArr = [];
                                    $("#customerName").val(res.CustomerName);
                                    $("#customerAddress").val(res.Address);
                                    $("#orderMasterId").val(res.MasterId);


                                    $.each(res.OrderDetails, function (i, v) {
                                        detArr.push('<tr><td>' + v.ProductName + '</td><td>' + v.Amount + '</td><td>' + v.Quantity + '</td><td>' + (parseFloat(v.Amount) * parseInt(v.Quantity)) + '</td><td> <a href="#" data-itemId="' + v.DetailsId + '" class="editDetail">Edit</a></td><td> <a data-itemId="' + v.DetailsId + '" href="@Url.Action("deleteOrderdetail","Home")/'+v.DetailsId+'" class="deleteItem">Delete</a></td></tr>')
                                    });
                                    $('#newOrderModal').modal('show');

                                    $("#detailsTable tbody").empty();
                                    $("#detailsTable tbody").append(detArr);
                                    $("#saveOrder").html("Save Update");


                                 }).fail(function (err) {
                                console.log(err);


                                 });



                            }
                       }
            }),





            $(document).on("click", '.deleteOrder', function (e) {
                var id = $(this).attr("data-masterid");
                var Url = '@Url.Action("deleteOrder","Home", new { area = "" })';
                            return $.ajax({
                                type: 'POST',
                                url: Url,
                                data: "id=" + id

                            });

            }),

            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').remove();
                } else {
                    var id = $(this).attr("data-itemid");
                    deleteOrderdetail(id);
                    function deleteOrderdetail(id) {

                            var Url = '@Url.Action("deleteOrderdetail","Home", new { area = "" })';
                            return $.ajax({
                                type: 'POST',
                                url: Url,
                                data: "id=" + id

                            });
                    }
                     var masterId = $("#orderMasterId").val();

                                $.when(getSingleOrder(masterId)).then(function (res) {
                                    var detArr = [];
                                    $("#customerName").val(res.CustomerName);
                                    $("#customerAddress").val(res.Address);
                                    $("#orderMasterId").val(res.MasterId);


                                    $.each(res.OrderDetails, function (i, v) {
                                        detArr.push('<tr><td>' + v.ProductName + '</td><td>' + v.Amount + '</td><td>' + v.Quantity + '</td><td>' + (parseFloat(v.Amount) * parseInt(v.Quantity)) + '</td><td> <a href="#" data-itemId="' + v.DetailsId + '" class="editDetail">Edit</a></td><td> <a data-itemId="' + v.DetailsId + '" href="@Url.Action("deleteOrderdetail","Home")/'+v.DetailsId+'" class="deleteItem">Delete</a></td></tr>')
                                    });


                                    $("#detailsTable tbody").empty();
                                    $("#detailsTable tbody").append(detArr);
                                    $("#saveOrder").html("Save Update");
                                    $('#newOrderModal').modal('handleUpdate');



                                 }).fail(function (err) {
                                console.log(err);


                                 });

                }
            }),

            $(document).on('click', 'a.editItem', function (e) {
                e.preventDefault();



                    var data = $(this).data();
                    $(this).parents('tr').remove();


                 $("#productName").val(data.productname),
                   $("#price").val(data.price);
                   $("#quantity").val(data.quantity);




            }),

            $(document).on("click", '.editOrder', function (e) {

                var data = $(this).data();
                e.preventDefault();
                var id = data.masterid;
                $.when(getSingleOrder(id)).then(function (res) {
                    var detArr = [];
                    $("#customerName").val(res.CustomerName);
                    $("#customerAddress").val(res.Address);
                    $("#orderMasterId").val(res.MasterId);


                    $.each(res.OrderDetails, function (i, v) {
                        detArr.push('<tr><td>' + v.ProductName + '</td><td>' + v.Amount + '</td><td>' + v.Quantity + '</td><td>' + (parseFloat(v.Amount) * parseInt(v.Quantity)) + '</td><td> <a href="#" data-itemId="' + v.DetailsId + '" class="editDetail">Edit</a></td><td> <a data-itemId="' + v.DetailsId + '" href="@Url.Action("deleteOrderdetail","Home")/'+v.DetailsId+'" class="deleteItem">Delete</a></td></tr>')
                    });
                    $('#newOrderModal').modal('show');

                    $("#detailsTable tbody").empty();
                    $("#detailsTable tbody").append(detArr);
                    $("#saveOrder").html("Save Update");


                }).fail(function (err) {
                    console.log(err);
                });
            })


            $(document).on("click", '.editDetail', function (e) {
            var id = $(this).attr("data-itemid");
            e.preventDefault;

            $.when(getSingleOrderDetail(id)).then(function (res) {
                data = res;
                $("#detailId").val(id);
                $("#productName").val(data.ProductName);
                $("#price").val(data.Amount);
                $("#quantity").val(data.Quantity);
                $("#orderDetailsModal").modal('show');


            }).fail(function (err) {
                console.log(err);
            });
        });
            function getOrder(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleOrder", "Home", new { area = "" })', //question
                    data: "orderId=" + id
                });
           }
            function getSingleOrder(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleOrder", "Home", new { area = "" })', //question
                    data: "orderId=" + id
                });
        }
            function clearItem() {
            $("#productName").val('');
            $("#price").val('');
            $("#quantity").val('');
            $("#customerName").val('');
            $("#customerAddress").val('');
            $("#orderMasterId").val('');
        }
            function getSingleOrderDetail(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleOrderDetail", "Home", new { area = "" })', //question
                    data: "orderId=" + id
                });

                }
            function updateSingleOrderDetail(data) {
                  $.ajax({

                    url: '@Url.Action("updateSingleOrderDetail", "Home", new { area = "" })',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    data: data


                });

            }
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            $(".error").remove();
            var Name = $('#customerName').val();
            var Address = $('#customerAddress').val();
            function valid() {
                if (Name.length < 1) {
                    $('#customerName').after('<span class="error">Customer Name is required</span>');
                    return false;

                } else if (Name.length < 3) {
                    $('#customerName').after('<span class="error">Customer Name is too short</span>');
                    return false;

                }
                if (Name.length > 15) {

                    $('#customerName').after('<span class="error">Customer Name is too long</span>');
                    return false;
                }
                if (Address.length < 1) {
                    $('#customerAddress').after('<span class="error">Address is required</span>');
                    return false;

                } else if (Address.length < 7) {
                    $('#customerAddress').after('<span class="error">Address is too short</span>');
                    return false;
                } if (Address.length > 30) {
                    $('#customerAddress').after('<span class="error">Address is too long</span>');
                    return false;

                } else {
                    return true;
                }
            }
            if (valid()) {
                        var orderArr = [];
                        orderArr.length = 0;


                        $.each($("#detailsTable tbody tr"), function () {

                            orderArr.push({
                                ProductName: $(this).find('td:eq(0)').html(),
                                Quantity: $(this).find('td:eq(2)').html(),
                                Amount: $(this).find('td:eq(1)').html(),
                                State: $(this).find('td:eq(5)').html()
                            });

                        });



                if (orderArr.length > 0) {
                    var data = JSON.stringify({
                        MasterId: $("#orderMasterId").val(),
                        CustomerName: $("#customerName").val(),
                        Address: $("#customerAddress").val(),
                        OrderDetails: orderArr
                    });

                    $.when(saveOrder(data)).then(function (response) {
                        var homeUrl = '@Url.Action("Index","Home")';
                        window.location.href = homeUrl;
                        console.log(response);
                    }).fail(function (err) {
                        console.log(err);
                    });
                    function saveOrder(data) {

                        var saveUrl = '@Url.Action("saveOrder", "Home", new { area=""})';
                        return $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: saveUrl,
                            data: data
                        });


                    }
                } else {
                    $("#beforeError").after('<h4 class="error">Please Add Order Details</h4>');
                }
            }



        })
        var itemArr = [];
       










    </script>





}